<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nag.mannertimer"
    android:versionCode="3"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- open for free version start
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    open for free version end -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- comment out for free version start -->
        <activity
            android:name="com.nag.mannertimer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- comment out for free version end -->
        <!-- open for free version
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.nag.android.mannertimer_free.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        open for free version -->
        <activity
            android:name="com.nag.android.util.WebViewActivity"
            android:label="@string/title_activity_webview"/>
        <activity
            android:name="com.nag.mannertimer.TimerSelectorParentActivity"
			android:theme="@android:style/Theme.Translucent"
            android:label="@string/title_activity_timer_selector_parent" >
        </activity>
        
        <receiver android:name="com.nag.mannertimer.Executor" />
        <!-- comment out for free version start-->
        <receiver android:name="com.nag.mannertimer.WidgetProviderImpl" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        <!--comment out for free version end -->
        <receiver
            android:name="com.nag.mannertimer.WidgetProviderImpl$WidgetIntentReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name = "android.media.RINGER_MODE_CHANGED" />
                <action android:name="UPDATE_WIDGET" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
